* {
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: "Space Grotesk", sans-serif;
background-color: rgb(254, 254, 254);
scroll-behavior: smooth;
}

body{
    padding: 30px;
}

img{
    width: 100%;
    display:block;
}

ul{
    list-style: none;
}

a { color: black; text-decoration: none; }

site-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

logo{
    font-size: 2rem;
    font-weight: 700;
}

#menu > ul {
    display: flex;
    gap: 40px;
}

#menu > ul > li {
    list-style: none;
}

#menu > ul > li > a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    position:relative
}

#menu > ul > li > a:hover {
    text-decoration: line-through;
}

.masonry-gallery{
    column-count: 3;
    gap:2rem;
}

.masonry-gallery>figure{
    margin-bottom: 2rem;
    border-radius: 3px;
    padding: 1rem;
    background-color: white;
}



.work-gallery{
    column-count: 4;
    gap:2rem;
}

.work-gallery>figure{
    margin-bottom: 2rem;
    border-radius: 3px;
    padding: 1rem;
    background-color: white;
}


.home-text {
margin-top: 78px;

}